@font-face {
  font-family: 'tezos-icons';
  src:  url('fonts/tezos-icons.eot?uc8fly');
  src:  url('fonts/tezos-icons.eot?uc8fly#iefix') format('embedded-opentype'),
    url('fonts/tezos-icons.ttf?uc8fly') format('truetype'),
    url('fonts/tezos-icons.woff?uc8fly') format('woff'),
    url('fonts/tezos-icons.svg?uc8fly#tezos-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tezos-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tez:before {
  content: "\a729";
}
.icon-id-badge:before {
  content: "\e91a";
}
.icon-alert-badge:before {
  content: "\e919";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-caret-left:before {
  content: "\e903";
}
.icon-caret-down:before {
  content: "\e90a";
}
.icon-caret-right:before {
  content: "\e904";
}
.icon-angle-right:before {
  content: "\e91b";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-x-thick:before {
  content: "\e913";
}
.icon-x:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e909";
}
.icon-warning-circle:before {
  content: "\e912";
}
.icon-warning:before {
  content: "\e90c";
}
.icon-invalid:before {
  content: "\e914";
}
.icon-vote-badge:before {
  content: "\e91c";
}
.icon-question-mark:before {
  content: "\e915";
}
.icon-tiles:before {
  content: "\e90b";
}
.icon-gear:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e916";
}
.icon-ellipsis:before {
  content: "\e907";
}
.icon-disconnected:before {
  content: "\e917";
}
.icon-download:before {
  content: "\e918";
}
.icon-letter:before {
  content: "\e90f";
}
.icon-bell:before {
  content: "\e902";
}
.icon-telegram:before {
  content: "\e911";
}
.icon-pop-out:before {
  content: "\e910";
}
.icon-copy:before {
  content: "\e906";
}
